body{
     width: 100%;
     margin: 0;
     padding: 0;

}
#contener{
          display:flex;
          justify-content: space-between;
}

#menu{
    
       width: 25%;
       height: 100%;
       display: flex;
       flex-direction: column;
       background-color:#ffeee6;
       text-align:center;
       padding-top: 6%;
       margin-top:-12% ;
       padding-bottom: 25%;
       margin-bottom: -2%;
       margin-left:0.1%;
    
}

#art3 {
        position: relative;
        width:75%;
        display: flex;
        flex-direction: column;
       

}


h1{
    color:#660066;
    font-size:3em;
    text-align: center;
    margin-left: 28%;
    display: flex;
 
    }
 
 h2{
    color:#cc00cc;
    font-size: 2.7em;
    text-align: center;
    margin-left: 28%;
    display: flex;
    margin-top: -2%;

}

.i1, .i2, .i3 {
    margin-left: 20px;
    margin-right: 40px;
    display: inline;
    font-size: 3em;
    
}


.sous-titres, #st2{
              margin-left:50px;
              border-bottom: 2px solid #006622;
              padding-bottom: 15px;
              font-size: 1.4em;
              color: #751aff;
              position: relative;
              border-color: #5200cc;

}

#coordonnées{
             font-size: 1.2em;
             
}

.p1  {
         padding-bottom: 4%;
         font-size: 1.2em;
}

a:hover{
         font-weight: bolder;
         color: red;
}

.texte{
        text-align:justify;
        font-size: 1.2em;
        padding-left: 30%;
}

#description{
              text-align: justify;
              font-size: 1.2em;
              padding-left: 3%;
              padding-bottom: 10%;
              padding-right: 3%;
}


img { 
     border: 1px solid black;
     border-radius: 100%;
     background-color: #669999;
}

.cadre{
        border: 2px solid black;
        background-color:#ff9999;
        color: #2929a3;
        text-align: center;
}

#reco{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

#reco p{
width: 320px;
font-size: 1.3em;
padding-left: 50px;
}

@media screen and (min-width:310px) and (max-width:789px){
 
 body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
 }
 
 
#contener {
    display: inline;
}
 
h1{
    color: #cc0066;
    display: flex;
    font-size: 2em;
    text-align: center;
    position: relative;
    font-weight: bold;
}


h2{
    color: #e600ac;
    display: flex;
    position: relative;
    font-weight: bold;
    text-align: center;
    width: 400px;
}

#menu {
    width: 100%;
    height: 0%;
    background-color: #ecb3ff;
    text-align: center;
    padding-top: 13%;
    margin-top: 0;
    padding-bottom:5%;
    display: flex;
    flex-direction: column;
}

img {
    border: 1px solid black;
    border-radius: 100%;
    background-color: #669999;
    position: relative;
    }
    
.cadre {
    border: 2px solid black;
    background-color: #d24dff;
    color:#000099 ;
    text-align: center;
    position: relative;
}

#coordonnées{
    position: relative;
}

.p1  {
         padding-bottom: 4%;
         font-size: 1.2em;
}


#description {
    text-align: justify;
    font-size: 1.2em;
    padding-bottom: -10%;
    }

.i1, .i2, .i3{
 
    display: inline;
    font-size: 3em;
    
}


#art3 {
    position: relative;
    display: inline;
}

.sous-titres {
    color:#4d004d;
    font-size: 1.4em;
    width: 290px;
    border-bottom: hidden;
    padding-left: 10%;
    position: relative;
    text-align: center;
}

#st2 {
    color:#4d004d;
    font-size: 1.4em;
    text-align: center;
    width: 390px;
    padding-left: 0%;
    position: relative;
    border-bottom: hidden;
}

.texte {
    font-size: 1.2em;
    text-align: justify;
    width: 600px;
    padding-left: 5%;
    padding-right: 0%;
    position: relative;
    }

#reco{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

#reco p{
width: 320px;
font-size: 1.2em;
padding-left: 5%;
}

}







