@media screen and (min-width: 310px) and (max-width: 767px) {
  html, body, div, h1, header, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    width: 100%;
    height: 100%; }
  #container {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 5% 40% 40% 40% 40% 10%;
    grid-template-columns: 100%; }
  header {
    grid-column-start: 1;
    grid-column-end: 1; }
  header, #btnpro, footer {
    background-color: #569783; }
  #sec1 {
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #F5DADA; }
  #sec2 {
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #F7EFF8; }
  #sec3 {
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: #F6F6F6; }
  #sec4 {
    grid-row-start: 5;
    grid-row-end: 5; }
  #icon {
    font-size: 1.4em;
    background: -webkit-linear-gradient(right, #E79A3F, #E64F2A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #E79A3F, #E64F2A);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #E79A3F, #E64F2A);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #E79A3F, #E64F2A); }
  a, h3, #btnml, #btnct {
    text-decoration: none; }
  h1, #btnpro {
    color: #F7BF28; }
  h1 {
    text-align: center;
    font-size: 1.8em;
    position: relative; }
  h2, h3 {
    text-align: center;
    position: relative; }
  h2 {
    font-size: 1em;
    bottom: 60%; }
  h3 {
    font-size: 0.8em;
    bottom: 60%; }
  #h2c, #h3c, #h2d, #h3d, #h2e, #h3e {
    bottom: 55%; }
  #h21 {
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: lighter; }
  #h2c {
    font-family: 'Josefin Slab', serif;
    font-weight: bolder; }
  #h22 {
    font-family: 'Kalam', cursive; }
  h1, #ml, #ctn {
    font-family: 'Ubuntu', sans-serif; }
  h3 {
    font-family: 'Shadows Into Light', cursive; }
  #h3c {
    font-family: 'Noto Serif', serif; }
  #h2d {
    font-family: 'Dancing Script', cursive;
    font-weight: lighter; }
  #sec1 a:visited {
    color: black; }
  #sec2 a:visited {
    color: #BD720E; }
  #h2c {
    background: -webkit-linear-gradient(right, #8C4FF7, #BD720E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #8C4FF7, #BD720E);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #8C4FF7, #BD720E);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #8C4FF7, #BD720E); }
  #sec3 a:visited {
    color: #2C84F5; }
  #h2d {
    background: -webkit-linear-gradient(right, #2C84F5, #2025B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #2C84F5, #2025B6);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #2C84F5, #2025B6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #2C84F5, #2025B6);
    -webkit-background-clip: text; }
  #sec4 a:visited {
    color: #15851E; }
  #h2e {
    background: -webkit-linear-gradient(right, #A2FF00, #15851E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #A2FF00, #15851E);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #A2FF00, #15851E);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #A2FF00, #15851E); }
  #sec1, #sec2, #sec3, #sec4 {
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px #ECECEC;
    margin: 5% 0% 5% 30%;
    width: 40%; }
  section a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }
  #btnpro {
    border-radius: 10%;
    position: relative;
    grid-row-start: 6;
    grid-row-end: 6;
    margin: 5% 35% 12% 35%;
    bottom: 25%; }
  footer a {
    text-decoration: none;
    color: #F7BF28;
    font-size: 1em; }
  footer {
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    height: 2%; }
  #ml {
    margin-left: 1%; }
  #ctn {
    float: right;
    margin-right: 1%; } }

@media (orientation: landscape) and (max-width: 1023px) {
  html, body, div, h1, header, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    width: 100%;
    height: 100%; }
  #container {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 70% 70% 10%;
    grid-template-columns: 50% 50%; }
  header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%; }
  header, #btnpro, footer {
    background-color: #569783; }
  #sec1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #F5DADA; }
  #sec2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #F7EFF8; }
  #sec3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #F6F6F6; }
  #sec4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3; }
  #icon {
    font-size: 1.4em;
    background: -webkit-linear-gradient(right, #E79A3F, #E64F2A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #E79A3F, #E64F2A);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #E79A3F, #E64F2A);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #E79A3F, #E64F2A); }
  a, h3, #btnml, #btnct {
    text-decoration: none; }
  h1, #btnpro {
    color: #F7BF28; }
  h1 {
    text-align: center;
    font-size: 1.8em;
    position: relative;
    left: 2%; }
  h2, h3 {
    text-align: center;
    position: relative; }
  h2 {
    font-size: 1em;
    bottom: 60%; }
  h3 {
    font-size: 0.8em;
    bottom: 60%; }
  #h2c, #h3c, #h2d, #h3d, #h2e, #h3e {
    bottom: 55%; }
  #h21 {
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: lighter; }
  #h2c {
    font-family: 'Josefin Slab', serif;
    font-weight: bolder; }
  #h22 {
    font-family: 'Kalam', cursive; }
  h1, #ml, #ctn {
    font-family: 'Ubuntu', sans-serif; }
  h3 {
    font-family: 'Shadows Into Light', cursive; }
  #h3c {
    font-family: 'Noto Serif', serif; }
  #h2d {
    font-family: 'Dancing Script', cursive;
    font-weight: lighter; }
  #sec1 a:visited {
    color: black; }
  #sec2 a:visited {
    color: #BD720E; }
  #h2c {
    background: -webkit-linear-gradient(right, #8C4FF7, #BD720E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #8C4FF7, #BD720E);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #8C4FF7, #BD720E);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #8C4FF7, #BD720E); }
  #sec3 a:visited {
    color: #2C84F5; }
  #h2d {
    background: -webkit-linear-gradient(right, #2C84F5, #2025B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #2C84F5, #2025B6);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #2C84F5, #2025B6);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #2C84F5, #2025B6);
    -webkit-background-clip: text; }
  #sec4 a:visited {
    color: #15851E; }
  #h2e {
    background: -webkit-linear-gradient(right, #A2FF00, #15851E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #A2FF00, #15851E);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -moz-linear-gradient(right, #A2FF00, #15851E);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -linear-gradient(to right, #A2FF00, #15851E); }
  #sec1, #sec3 {
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px #ECECEC;
    width: 40%;
    margin: 5% 20% 5% 60%; }
  #sec2, #sec4 {
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px #ECECEC;
    width: 40%;
    margin: 5% 60% 5% 5%; }
  section a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }
  #btnpro {
    border-radius: 10%;
    position: relative;
    grid-row-start: 6;
    grid-row-end: 6;
    font-size: 1.1em;
    margin: 5% 30% 12% 35%;
    bottom: 25%;
    left: 50%; }
  footer a {
    text-decoration: none;
    color: #F7BF28;
    font-size: 1em; }
  footer {
    padding-top: 1%;
    position: fixed;
    bottom: 0;
    padding-bottom: 2%;
    width: 100%;
    height: 2%; }
  #ml {
    margin-left: 1%; }
  #ctn {
    float: right;
    margin-right: 1%; } }
